/* 
    Document   : form
    Created on : Jan 14, 2014, 11:17:55 PM
    Author     : memmedimanli
    Description:
        Purpose of the stylesheet follows.
*/

#fileupload { 
    margin-left: 157px;
    margin-top: 25px;
}

